{% extends 'default.html' %}
{% block file %}
<div class="box" id="ywl_host_list">

    <table class="table table-hover">
        <thead>
        <tr>
            <th style="width:24px;" data-key="host_id"><span>id</span></th>
            <th style="width:200px;" data-key="host_id"><span>主机</span></th>
            <th data-key="host_lock"><span>状态</span></th>

        </tr>
        </thead>
        <tbody>
        {% for service in rrjc_service %}
        <tr>
            <td>{{ service.id }}</td>
            <td id="cell-1-1">
                <span class="host-id" href="javascript:;">{{ service.ipaddr }}</span>
            </td>
            <td><span class="badge badge-success">{{ service.static }}</span></td>
        </tr>
        {% endfor %}
{#         <tr>#}
{#             <td>2</td>#}
{#             <td><span class="pie" style="display: none;">226,134</span><svg class="peity" height="16" width="16"></svg></td>#}
{#             <td>Jacob</td>#}
{#             <td class="text-warning"> <i class="fa fa-level-down"></i> -20% </td>#}
{#         </tr>                       #}
{#         <tr>#}
{#             <td>3</td>#}
{#             <td><span class="pie" style="display: none;">0.52/10.561</span><svg class="peity" height="16" width="16"></svg>12%</td>#}
{#             <td>Jacob</td>#}
{#             <td class="text-warning"> <i class="fa fa-level-down"></i> -20% </td>#}

    </table>
<table class="table table-striped table-bordered table-hover table-data no-footer dtr-inline" ywl-table="host-list"></table>
        <div class="page-nav" ywl-paging="host-list">

                <div class="input-group input-group-sm" style="display:inline-block;">
                    <a href="add_service.html" id="btn-add-host" class="btn btn-sm btn-primary"><i class="fa fa-plus-circle fa-fw"></i> 添加主机</a>
                </div>


                <div class="" style="float:right;">
                    <nav>
                        <ul class="pagination pagination-sm"></ul>
                    </nav>
                </div>



        </div>

</div>
<div style="height: 60px;"></div>



{% endblock %}